%body
  .wrapper
    = render 'shared/chat_side'
    .chat-main
      .main-header
        .left-header
          %h2.left-header__name
            = @group.name
          %ul.left-header__members
            Member：
            - @group.users.each do |user|
              %li.member
                = user.name
        .right-header
          .main-header__edit
            = link_to edit_group_path(@group) do
              Edit
      .messages
        = render @messeages
      .form
        = form_for [@group, @messeage], html: {id: 'new_comment'} do |f|
          = f.text_field :messeages, class: 'form__messeage', placeholder: 'type a messeage'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'