%body
  .wrapper
    = render 'shared/chat_side'
    .chat-main
      .main-header
        .left-header
          %h2.left-header__name
            = @group.name
          %ul.left-header__members
            Member：
            %li.member メンバー１
            %li.member メンバー2
            %li.member メンバー3
        .right-header
          .main-header__edit
            = link_to "Edit"
      .messages
        = render @messeages
      .form
        = form_for [@group, @messeage], html: {id: 'new_comment'} do |f|
          = f.text_field :messeages, class: 'form__messeage', placeholder: 'type a messeage'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'