!!!
%html
  %head
    %meta{charset: "UTF-8"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/flash'
    = yield


